@import "../colours.scss";

.member-list {

  display: flex;
  flex-direction: column;

  .header {
    height: 145px;
    flex-shrink: 0;

    .info {
      margin-bottom: 1em;
    }

    .search {
      display: flex;
      span {
        margin-right: 0.5em;
      }
      input {
        flex-grow: 1;
        display: inline-block;
      }
    }
  }

  .list {

    border: 1px solid #EFEFEF;
    padding: 0.2em;

    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
  
    .member-list-item {

      cursor: pointer;

      margin-bottom: 0.1em;

      &:last-of-type {
        margin-bottom: 0
      }

      &.R { 
        color: $republican;
      }

      &.D {
        color: $democrat;
      }

      &.selected {
        font-weight: bold;
      }

      &:hover {
        background-color: #EFEFEF;
      }

      

    }
  }

}

