@import '../colours.scss';

.member-details {
  
  display: flex;
  flex-direction: column;

  // Header style
  .header {
    flex-shrink: 0;

    .heading {
      &.R {
        color: $republican;
      }

      &.D {
        color: $democrat;
      }
    }
  }

  // Layout for the grid beneath
  .row {
    display: flex;
    flex-direction: row;
    height: 50%;
    padding: 0.5em 0;

    .cell {
      flex-grow: 1;
      padding: 0.5em;
      border: 1px solid #EEE;
      margin: 0 0.5em;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        margin-right: 0;
      }
    }
  }


  //Individual parts
  .expenses, .statements, .voting {
    display: flex;
    flex-direction: column;
  }

  .statements, .voting {
    width: 50%;
    height: 100%;
  }

  .expenses {    
    .subheading {
      flex-shrink: 0;
      .total {
        color: $money;
      }
    }

    .line-chart {
      flex-grow: 1;
      height: 100%;

      path {
        stroke-linecap: round;
        stroke-linejoin: round;
      }
      
      .leftAxis {
        g.tick > line, path {
          stroke: #EEE;
        }
        
      }
    }
  }

  .voting {
    .subheading {
      flex-shrink: 0;
    }

    .record {

      div {
        margin-bottom: 0.5em;
      }
      
      .party {
        font-weight: bold;
        &.R {
          color: $republican;
        }
  
        &.D {
          color: $democrat;
        }
      }

      svg.partisanship {
        .R {
          stroke: $republican;
        }

        .D {
          stroke: $democrat;
        }
      }      
    }
  }
  
  .statements {
    overflow: hidden;
    .list {
      flex-grow: 1;
      flex-shrink: 1;
      overflow-y: scroll;
      .statement {
        margin-bottom: 0.5em;

      }
    }
  }

}