.app {
  width: 1400px;
  height: 100%;
  padding: 0.5em 0;
  margin: 0 auto;
  display: flex;
  min-height: 720px;

  .member-list, .member-details {
    margin: 0.5em;
  }

  .member-list {
    width: 400px;
    flex-shrink: 0;
  }

  .member-details {
    flex-grow: 1;
  }
}