html, body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, .heading, .subheading {
  font-family: 'Roboto', sans-serif;
  padding: 0.2em 0;
}

.heading {
  font-size: 1.5em;
}

.subheading {
  font-size: 1.2em;
}

#root {
  width: 100%;
  height: 100%;
}


